body {
color: white;

}

h1 {
color: red;

}

p#four {
background-color: #210640;
}

p#three {
background-color: #4E2E73;
}

p#two {
background-color: #00010D;
}

p#one {
background-color:  #33270D;
}

p#zero {
background-color:  #402806;
}