body {
	font-family: Arial, Verdana, sans-serif;
	background - color: #FFFFCC;
}

h1, h2 {
	color: #ee3e80;
}

p {
	color: #665544;
}

strong {
	color: green;
}

em {
	color: violet;
}

#container {
	border: 1px solid #665544;
	background-color: #efefef;
	padding: 10px;
}